<%= javascript_include_tag 'navbar_scroll' %>
<%= stylesheet_link_tag 'home' %>
<script src="http://use.typekit.net/xtk3kmd.js"></script>
<script>
  try {
    Typekit.load();
  } catch (e) {}
</script>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<link href="https://fonts.googleapis.com/css?family=Cardo:400,700|Oswald" rel="stylesheet">
<html>
  <body>
    <!-- -->
    <!-- SECTION ONE -->
    <div class="one" id="top">
      <header>
        <!-- Navbar -->
        <nav class="navbar bg-light navbar-expand-lg navbar-light fixed-top scrolling-navbar" id="navbar">
          <div class="collapse navbar-collapse order-1" id="navbarSupportedContent-7">
            <ul class="navbar-nav mr-auto">
              <li class="nav-item active">
                <p class="intro-nav">
                  <a class="nav-link" href="#top">Home
                    <span class="sr-only">(current)</span></a>
                </p>
              </li>
              <li class="nav-item">
                <p class="intro-nav">
                  <a class="nav-link" href="/Resume.pdf">Resume</a>
                </p>
              </li>
              <li class="nav-item">
                <p class="intro-nav">
                  <a class="nav-link" href="#about-me">About Me</a>
                </p>
              </li>
              <li class="nav-item">
                <p class="intro-nav">
                  <a class="nav-link" href="#projects">Projects</a>
                </p>
              </li>
            </ul>
          </div>
        </header>
        <!-- navbar -->

        <!-- body -->
        <div class=" title-box">
          <!-- Content -->
          <div class="container">
            <div class="col-md-12 mb-4 white-text text-center">
              <h1 class="h1-reponsive white-text text-uppercase font-weight-bold mb-0 pt-md-5 pt-5">
                <strong>Parker Glenn</strong>
              </h1>
              <hr>
              <h2 class="text-uppercase mb-4 white-text sub-title">
                <strong>Computational Linguistics Student</strong>
              </h2>
              <button type="button" class="btn btn-outline-light">
                <a href="#about-me">
                  <p class="intro-nav">About me</p>
                </a>
              </button>
              <button type="button" class="btn btn-outline-light">
                <a href="#projects">
                  <p class="intro-nav">Projects</p>
                </a>
              </button>
              <button type="button" class="btn btn-outline-light">
                <a href="#">
                  <%= link_to "/Resume.pdf", target: :_blank do %>
                  <p class="intro-nav">
                    Resumé
                  </p>
                <% end %>
              </a>
            </button>
            <br><br><br>
            <div align="center" class="media-links">
              <a href="https://www.linkedin.com/in/parker-glenn5/" target="_blank">
                <i class="fa fa-linkedin-square" style="font-size:42px"></i>
              </a>
              <a href="https://github.com/parkervg">
                <i class="fa fa-github" style="font-size:42px" target="_blank"></i>
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- -->
    <!-- SECTION TWO -->
    <!-- -->
    <div class="two" id="about-me">
      <div class="info">
        <div id="wrapper">
          <div class="mask rgba-black-light align-items-center">
            <h2 class="black">
              About me
            </h2>
            <br>
            <p class="black">
              Hi, my name is Parker Glenn and I'm currently a 4th year student at University of California, Santa Barbara. Pursuing a major in Speech and Language Technology, I am fascinated by the intersection of speech and language.
            </p>
          </div>
        </div>
      </div>

      <div class="card-deck flex-row flex-nowrap">
        <div class="card bg-transparent mb-3 rounded" style="min-width: 20rem; max-height: 30rem;">
          <div class="card-body">
            <h3 class="card-title black">
              Relevant Coursework
            </h3>
            <ul>
              <li class="black">
                LING 120- Corpus Linguistics
              </li>
              <li class="black">
                LING 108- Introduction to Morphology
              </li>
              <li class="black">
                LING 110- Computational Linguistics
              </li>
              <li class="black">
                LING 111- Advanced Computational Linguistics
              </li>
              <li class="black">
                LING 107- Introduction to Phonology
              </li>
              <li class="black">
                LING 106- Introduction to Phonetics
              </li>
            </ul>
          </div>
        </div>
        <div class="card bg-transparent mb-3 rounded" style="min-width: 20rem; max-height: 30rem;">
          <div class="card-body">
            <h3 class="card-title black">
              Skills
            </h3>
            <p class="card-text">
              <ul>
                <li class="black">
                  Python
                </li>
                <li class="black">
                  SQL
                </li>
                <li class="black">
                  NLP Libraries
                </li>
                <li class="black">
                  Machine Learning
                </li>
                <li class="black">
                  Docker
                </li>
                <li class="black">
                  Basic Russian
                </li>
              </ul>
            </p>
          </div>
        </div>
        <div class="card bg-transparent mb-3 rounded" style="min-width: 20rem; max-height: 30rem;">
          <div class="card-body">
            <h3 class="card-title black">
              Future Studies
            </h3>
            <p class="card-text">
              <ul>
                <li class="black">
                  Finish working on personal website.
                </li>
                <li class="black">
                  Continue working on an algorithmic trading bot that integrates sentiment-analysis of companies.
                </li>
                <li class="black">
                  Get to know the underlying concepts of word vectors better.
                </li>
                <li class="black">
                  Finish reading the book "Introduction to Database Systems".
                </li>
              </ul>
            </p>
          </div>
        </div>
      </div>
    </div>

    <!-- -->
    <!-- SECTION THREE -->
    <!-- -->
    <div class="three" id="projects">
      <div class="info">
        <div class="mask rgba-black-light align-items-center">
          <h2>
            Projects
          </h2>
          <br>
        </div>
        <div class="table-wrap">
          <table class="table">
            <thead class="thead-light">
              <tr>
                <th>Project Name</th>
                <th>Project Description</th>
                <th>Primary Tools/Concepts</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>
                  <a href="https://github.com/parkervg/news-article-clustering">
                    <h3>
                      News Article Clustering</h3>
                  </a>
                </td>
                <td class="project-description">
                  <p>
                    A document similarity project I did while in the Data Science club at UCSB.
                    <br><br>
                    With the rise of social media, the ability to publish has been democratized and repetition in the newsfeed runs rampant. This project attempts to group news stories by topic, exploring what specific attributes of text determine topic boundaries.
                    <br><br>
                    Throughout the course of the project, I write a TFIDF algorithm from scratch and manipulate features like entities and publication date in attempts to increase my success rate.
                  </p>
                </td>
                <td>
                  <p>
                    Python, spaCy, Sci-Kit Learn, TFIDF, Seaborn, Matplotlib, SVD, Word Vectors
                  </p>
                </td>
              </tr>

              <tr>
                <td>
                  <a href="https://github.com/parkervg/PermitTrends">
                    <h3>
                      Permit Trends</h3>
                  </a>
                </td>
                <td class="project-description">
                  <p>
                    A visualization tool I developed during a summer internship.
                    <br><br>
                    The ability to stay on top of recent trends in any quick-changing industry is vital. This visualization tool does just that with datasets of construction permits.
                    <br><br>
                    In PermtTrends, an owner's baseline rate of application for permits is established, and compared to their recent activity. The owner with the most drastic recent uptick in applications are revealed, and their history charted in matplotlib.
                    <br><br>
                    In GeoTrends, the same concept of discovering recent anomalies in data is applied to Geography. DBSCAN is used to find areas which have historically been popular regions to build in. Then, recent permits not within these top areas are clustered and
                    the nearest intersection found to reveal increasingly popular areas for development.
                  </p>
                </td>
                <td>
                  <p>
                    Python, Docker, nginx, gunicorn, Flask, DBSCAN
                  </p>
                </td>
              </tr>

              <tr>
                <td>
                  <a href="https://github.com/parkervg/troll-tweet-detector/blob/master/Trolliness.ipynb">
                    <h3>
                      Troll Tweet Detector</h3>
                  </a>
                </td>
                <td class="project-description">
                  <p>
                    A school project I completed for LING 111 (Advanced Computational Linguistics).
                    <br><br>
                    In the season surrounding the 2016 U.S. presidential election, the goal of a politial troll was to stir up as much polarization as possible, all while blending in as an average American citizen. One group of online trolls that were notoriously
                    successful were the Russian trolls
                    <br><br>
                    This Jupyter notebook explores concepts both in machine learning and linguistics to create a binomial classifier that identifies a tweet as a troll or non-troll. I rely on certain linguistic quirks of the Russian language, like their lack of articles
                    (e.x. "a", "an", "the") and infrequent use of stopwords.
                  </p>
                </td>
                <td>
                  <p>
                    Python, Scikit-machine learning, Random Forest, feature extraction, spaCy, Jupyter notebook
                  </p>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </body>
</html>